*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: hsla(0, 100%, 100%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --blue: hsla(225, 85%, 60%, 1);
    --red: hsla(0, 100%, 72%, 1);
    --yellow: hsla(60, 90%, 72%, 1);
    --green: hsla(110, 100%, 72%, 1);
}

html, body {
    font-family: monospace;
    background-image: radial-gradient(circle, var(--blue) 60%, hsla(225, 85%, 60%, 0));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.game {
    height: 90vw;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    background-color: var(--white);
    box-shadow: -40px -40px 10px 8px var(--green), 40px 40px 10px 8px var(--red);
    border: 10px solid var(--white);
    border-radius: 40px;
}

.spot {
    font-size: 140px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 4px hidden var(--black);
    transition: border 400ms linear;
    height: 100%;
    width: 100%;
}

.spot:hover {
    cursor: pointer;
    border: 4px double var(--yellow);
}

.text {
    text-align: center;
    color: var(--white);
    text-shadow: -2px -2px 4px var(--red), 2px 2px 4px var(--green);
    transition: color 400ms ease-in-out, transform 200ms ease-in;
}

.text:hover {
    color: var(--blue);
    transform: scale(1.2);
}

.filled {
    transition: transform 600ms linear;
    transform: rotate(360deg) scale(0.6);
}

.complete {
    transition: transform 400ms linear;
    transform: scale(1);
}

.filled:hover {
    cursor: not-allowed;
}

@media screen and (max-width: 2000px) {
    .spot {
        font-size: 190px;
        border-radius: 80px;
    }
    .game {
        grid-gap: 10px;
        border-radius: 80px;
    }
}

@media screen and (max-width: 1600px) {
    .spot {
        font-size: 170px;
        border-radius: 32px;
    }

    .game {
        grid-gap: 8px;
        border-radius: 32px;
    }
}

@media screen and (max-width: 1400px) {
    .spot {
        font-size: 140px;
        border-radius: 40px;
    }

    .game {
        grid-gap: 5px;
        border-radius: 40px;
    }
}

@media screen and (max-width: 600px)  {
    .spot {
        font-size: 90px;
    }
}


@media screen and (max-width: 400px)  {
    .spot {
        font-size: 60px;
    }
}

@media screen and (orientation: portrait) {
    .game {
        height: 90vw;
        width: 90vw;
    }
}

@media screen and (orientation: landscape) {
    .game {
        height: 90vh;
        width: 90vh;
    }
}